body {
    font-family: sans-serif;
    margin: 0px;
    background-color: beige;
}

#menuHome {
    font-size: 20px;
    margin: 10px;
}

#menuAdd {
    font-size: 20px;
    margin: 10px;
}

#genreDropdown {
    font-size: 20px;
    margin: 10px;
}

#filterButton, #submitButton {
    color: white;
    background-color: steelblue;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}

#titleTextbox {
    font-size: 20px;
    margin: 10px;
    width: 90vw;
}

#descTextarea {
    font-size: 20px;
    margin: 10px;
    width: 90vw;
    height: 60vh;
}

#urlTextbox {
    font-size: 20px;
    margin: 10px;
    width: 90vw;
}

#moviesDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnailDiv {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.smallPoster {
    width: 100px;
    height: auto;
}

.detailsButton, #delButton {
    color: white;
    background-color: steelblue;
    font-size: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 70px;
}

.largePoster {
    max-width: 80vw;
    height: auto;
}

#movieTitle {
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}

#movieGenre {
    font-size: 20px;
    margin: 10px 10px 10px 30px;
    display: inline-block;
}

#movieDesc {
    font-size: 20px;
    margin: 10px;
}

.detailDiv {
    display: block;
}
