body {
    color: steelblue;
    margin: 0px;
    font-family: sans-serif;
}

#top {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#taskTextbox {
    display: inline-block;
    font-size: 25px;
}

#addTask {
    display: inline-block;
    font-size: 25px;
    color: white;
    background-color: steelblue;
    border-radius: 5px;
}

#priorityLabel {
    display: inline-block;
    margin: 5px 5px 0px 30px;
}

#priorityCheckbox {
    display: inline-block;
    margin-top: 5px;
}

#instructionsButton {
    display: inline-block;
    color: white;
    background-color: steelblue;
    border-radius: 5px;
}

#instructions {
    display: none;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#completed {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.titleElement {
    display: inline-block;
}

.priorityElement {
    display: inline-block;
}

.deleteItem {
    display: inline-block;
    color: white;
}

.listElement {
    padding: 5px;
}

.instructionEl {
    padding: 5px;
}
