<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site.css" />
</head>

<body>
    <form method="POST" action='/'>
        <input type="text" name="username" id="userTextbox" placeholder="username" />
        <input type="password" name="password" id="pwdTextbox" placeholder="password" />
        <button id="loginButton">Login</button>
    </form>
    <br>
    <form method="GET" action='/register'>
        <button id="registerButton">Create new user...</button>
    </form>
    <br>
    <div id="loginMessage">
        {{message}}
    </div>
</body>

</html>