<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/site.css">
</head>

<body>
  {{> menu}}
  <form method="POST" action="/movies/delete">
    <div class="detailDiv">
      <div id="movieTitle">{{title}}</div>
      <div id="movieGenre">{{genre}}</div>
      <button id="delButton">Delete</button><br>
      <img src="{{posterURL}}" class="largePoster" />
      <div id="movieDesc">{{desc}}</div>
      <input type="hidden" value="{{movieId}}" name="delId"> 
      
    </div>
  </form>
  <br>
  <form ref='uploadForm' encType="multipart/form-data" class="" action="/movies/upload/{{movieId}}" method="POST">
    <label id="uploadLabel">Replace poster image</label>
    <input id="uploadFileChooser" type="file" name="my_file">
    <button id="uploadButton">Upload</button>
  </form>
</body>

</html>